<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Rahul Pillai. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="portrait" src="/img/image_rahul.jpg">
        <p>To save the website as an accessible Android/IOS app:</p>
        <ol>
            <li>Open the link on Google Chrome on your Android or IOS mobile phone.</li>
            <li>Select the <i class="fa fa-ellipsis-v"></i>  icon on the top right.</li>
            <li>Select 'Add to Home screen'. Give the app a name and select 'Add'.</li>

        </ol>
    </div>
    
    {{>footer}}
</body>

</html>